<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>computer GRAPHICS</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="../../asserts/css/rounds/round-2/round-2-question.css">
</head>
<body>
    <div class="h"><h1></h1>
    </div>
    <div class="start_btn" ><button>Start Quiz</button></div>
    <div class="info_box">
        <div class="info-title"><span>Some Rules of this Quiz</span></div>
        <div class="info-list">
            <div class="info">•	The team can choose a slot.</div>
            <div class="info">•	Each slot has five questions.</div>
            <div class="info">•	Each question carries 3 marks. Only the first answer is accepted.</div>
            <div class="info">•	If the team answers all the questions, full marks will be provided.</div>
            <div class="info">•	Otherwise, the team get marks according to the questions that are answered.</div>
            <div class="info">•	No negative marks.</div>
            <div class="info">•	Judges decision will be final.</div>
            <div class="info">•	Time Duration:<br>
                For each question-10 seconds.pause question 1 sec.
                </div>
        </div>
        <div class="buttons">
            <button class="quit">Exit Quiz</button>
            <button class="restart" >Continue</button>
        </div>
    </div>
    <div class="quiz_box">
        <header>
            <div class="title">Quiz Application</div>
            <div class="timer">
                <div class="time_left_txt">Time Left</div>
                <div class="timer_sec">10</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text">
          
            </div>
            <div class="option_list">
          
            </div>
        </section>
        <footer>
            <div class="total_que">
                
            </div>
            <button class="next_btn">Next Que</button>
        </footer>
    </div>

    
    <div class="result_box">
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">You've completed the Quiz!</div>
        <div class="score_text">
    
        </div>
        <div id="a"></div>
        <div class="buttons">
            <button class="restart" style="visibility:hidden;">Replay Quiz</button>
            <a href="round2.html"><button class="quit">HOME</button></a>
        
        </div>
    </div>
    <script src="../../asserts/js/round-2/r2question/r2rdbms.js"></script>
    <script src="../../asserts/js/round-2/round-2-script.js"></script>
</body>
</html>
</body>
</html>