<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Rounds</title>
        <link rel="stylesheet" href="../../asserts/css/rounds/round-2/round-2-8Options.css">
</head>

<body>
        <div class="main-container">
                      
                        <div class="top">
                                <div class="img-container">
                                        
                
                                </div>
                                <div class="img-container">
                                        <a href="../../views/round-2/cn.html">
                                                <img src="../../asserts/images/round-2/cn.jpg" alt="C"></a>

                                </div>
                                <div class="img-container">
                                        <a href="../../views/round-2/cpp.html">
                                                <img src="../../asserts/images/round-2/cpp.jpg" alt="CPP"></a>

                                </div>
                                <div class="img-container">
                                        <a href="../../views/round-2/java.html">
                                                <img src="../../asserts/images/round-2/java.jpg" alt="JAVA"></a>

                                </div>
                        </div>
                        <div class="bottom">
                                
                                <div class="img-container">
                                        <a href="../../views/round-2/rdbms.html">
                                                <img src="../../asserts/images/round-2/rdbms.jpg" alt="Rdbms"></a>

                                </div>
                                <div class="img-container">
                                        <a href="../../views/round-2/python.html">
                                                <img src="../../asserts/images/round-2/python.jpg" alt="Python"></a>

                                </div>
                                <div class="img-container">
                                        <a href="../../views/round-2/os.html">
                                                <img src="../../asserts/images/round-2/os.jpg" alt="OS"></a>

                                </div>
                                <div class="img-container">
                                        <a href="../../views/round-2/dcf.html">
                                                <img src="../../asserts/images/round-2/dcf2.jpg" alt="DCF"></a>

                                </div>
                                
                                
                        </div>
                        <div class="footer">
                                <a href="../rounds/rounds.html" class="popup-button">Back</a>
                        </div>

        </div>

                


        <script src="../../assets/js/timer30.js"></script>
</body>

</html>