<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Round 1 | Product Marketing</title>
    <link rel="stylesheet" href="../../asserts/css/rounds/rules.css">
</head>

<body>

    <div class="rule-container">

        <div class="rule-header">
            <h1><span class="mark">SUBJECT</span> ROUND</h1>
        </div>
        <div class="rules-list">
            <ul>
                <li>
                    <!-- Each team will be given <span class="mark">5 minutes</span> for presentation. -->
                    Each slot has three questions.
                </li>
                <li>
                    Each question carries 3 marks only the first answer is accepted.
                </li>
                <li>
                    If the team answers all the questions, full marks will be provided.
                </li>
                <li>
                    Otherwise, the team get marks according to the questions that are answered.
                </li>
                <li>
                    No negative marks.
                </li>
                <li>
                    Judges decision will be final.
                </li>
                <li>
                    Time Duration for Direct each question <span class="mark">10 seconds.</span> 
                </li>
               
            </ul>
        </div>

        <div class="rules-footer">
            <a href="../rounds/rounds.html" class="popup-button">Back</a>
            <a href="../round-2/round2.html" class="popup-button">Start</a>
        </div>
    </div>

</body>

</html>