<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Round 1 | GENRAL ROUND</title>
    <link rel="stylesheet" href="../../asserts/css/rounds/rules.css">
</head>

<body>

    <div class="rule-container">

        <div class="rule-header">
            <h1><span class="mark">GENERAL</span> ROUND</h1>
        </div>
        <div class="rules-list">
            <ul>
                <li>
                    The Questions will be asked in both Clockwise and Anticlockwise direction.
                </li>
                <li>
                    <!-- Each team will be given <span class="mark">5 minutes</span> for presentation. -->
                    Each question carries ten marks. Only the first answer is accepted.
                </li>
                <li>
                    If the team couldn’t answer the question , it will be passed to the next team.
                </li>
                <li>
                    Passed question five marks.
                </li>
                <li>
                    No negative marks.
                </li>
                <li>
                    Judges decision will be final.
                </li>
                <li>
                    Time Duration for Direct question <span class="mark">30 seconds.</span> 
                </li>
                
                
            </ul>
        </div>

        <div class="rules-footer">
            <a href="../rounds/rounds.html" class="popup-button">Back</a>
            <a href="../round-1/start.html" class="popup-button">Start</a>
        </div>
    </div>

</body>

</html>