    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>R4 | INDEX</title>
    <style>
       .img1-6{
        margin-top: 100px;
       }
       .img7-13{
        margin-top: 120px;
       }
       .img11-12{
        margin-top: 100px;
       }
    </style>
</head>
<body>
    <div class="whole">
        <div class="img1-6">
    <a href="demo.html"><img src="images/d.jpg" width="15%" height="15%" alt="" srcset=""></a>
    <a href="img1.html"><img src="images/i1.jpg"width="15%" height="15%" alt="" srcset=""></a>
    <a href="img2.html"><img src="images/i2.jpg" width="15%" height="15%" alt="" srcset=""></a>
    <a href="img3.html"><img src="images/i3.jpg" width="15%" height="15%" alt="" srcset=""></a>
    <a href="img4.html"><img src="images/i4.jpg" width="15%" height="15%" alt="" srcset=""></a>
    <a href="img5.html"><img src="images/i5.jpg" width="15%" height="15%" alt="" srcset=""></a>
    </div>
    <div class="img7-13">   <a href="img6.html"><img src="images/i6.jpg" width="15%" height="15%" alt="" srcset=""></a>
    <a href="img7.html"><img src="images/i7.jpg" width="15%" height="15%" alt="" srcset=""></a>
    <a href="img6.html"><img src="images/i6.jpg" width="15%" height="15%" alt="" srcset=""></a>
    <a href="img8.html"><img src="images/i8.jpg" width="15%" height="15%" alt="" srcset=""></a>
    <a href="img9.html"><img src="images/i9.jpg" width="15%" height="15%" alt="" srcset=""></a>
    <a href="img10.html"><img src="images/i10.jpg" width="15%" height="15%" alt="" srcset=""></a>
    <div class="img11-12"><a href="img11.html"><img src="images/i11.jpg" width="15%" height="15%" alt="" srcset=""></a>
    <a href="img12.html"><img src="images/i12.jpg" width="15%" height="15%" alt="" srcset=""></a></div>

   
</div>


</div>
</body>
</html>