<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Rounds</title>
        <link rel="stylesheet" href="../../asserts/css/rounds/round-2/round-2-8Options.css">
</head>

<body>
        <div class="main-container">
                      
                        <div class="top">

                          <div class="img-container">
                            <a href="../round-4/demo.html">
                                    <img src="../../asserts/images/round-3/d.jpg" alt="OS">
                            </a>                
                          </div>

                                <div class="img-container">
                                        <a href="../../views/round-4/img1.html">
                                                <img src="../../asserts/images/round-3/i1.jpg" alt="OS">
                                        </a>                
                                </div>
                                

                                <div class="img-container">
                                  <a href="../../views/round-4/img2.html">
                                          <img src="../../asserts/images/round-3/i2.jpg" alt="OS">
                                  </a>                
                          </div>

                          <div class="img-container">
                            <a href="../../views/round-3/img3.html">
                                    <img src="../../asserts/images/round-3/i3.jpg" alt="OS">
                            </a>                
                    </div>

                    <div class="img-container">
                      <a href="../../views/round-3/img4.html">
                              <img src="../../asserts/images/round-3/i4.jpg" alt="OS">
                      </a>                
              </div>


              <div class="img-container">
                <a href="../../views/round-3/img5.html">
                        <img src="../../asserts/images/round-3/i5.jpg" alt="OS">
                </a>                
        </div>

        <div class="img-container">
          <a href="../../views/round-3/img6.html">
                  <img src="../../asserts/images/round-3/i6.jpg" alt="OS">
          </a>                
  </div>

  

                               
                        </div>
                        <div class="bottom">

                          <div class="img-container">
                            <a href="../../views/round-3/img7.html">
                                    <img src="../../asserts/images/round-3/i7.jpg" alt="OS">
                            </a>                
                        </div>
                               
                          <div class="img-container">
                            <a href="../../views/round-3/img8.html">
                                    <img src="../../asserts/images/round-3/i8.jpg" alt="OS">
                            </a>                
                    </div>

                    <div class="img-container">
                      <a href="../../views/round-3/img9.html">
                              <img src="../../asserts/images/round-3/i9.jpg" alt="OS">
                      </a>                
              </div>

              <div class="img-container">
                <a href="../../views/round-3/img10.html">
                        <img src="../../asserts/images/round-3/i10.jpg" alt="OS">
                </a>                
        </div>

        <div class="img-container">
          <a href="../../views/round-3/img11.html">
                  <img src="../../asserts/images/round-3/i11.jpg" alt="OS">
          </a>                
  </div>
                                
  <div class="img-container">
    <a href="../../views/round-3/img12.html">
            <img src="../../asserts/images/round-3/i12.jpg" alt="OS">
    </a>                
</div>


                        </div>
                        <div class="footer">
                                <a href="../rounds/rounds.html" class="popup-button">Back</a>
                        </div>

        </div>

                


        <script src="../../assets/js/timer30.js"></script>
</body>

</html>