<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Round 1 | Product Marketing</title>
    <link rel="stylesheet" href="../../asserts/css/rounds/rules.css">
</head>

<body>

    <div class="rule-container">

        <div class="rule-header">
            <h1><span class="mark">IMAGE</span> ROUND <span class="mark"></span> </h1>
        </div>
        <div class="rules-list">
            <ul>
                <li>
                    It is buzzer round.A diagram will be displayed.
                </li>
                
                    <!-- Each team will be given <span class="mark">5 minutes</span> for presentation. -->
                   
                <li>
                    The teams can discuss among themselves and then press the buzzer.
                </li>
                <li>
                    If the team who press the buzzer didn't answer the question.  The second team to press the buzzer can answer the question.
                </li>
                <li>
                Discussion is not allowed after pressing the buzzer.
                </li>
                <li>
                    After pressing the buzzer, the team should not convey their answer before the quiz coordinator spell the team names.
                </li>
                <li>
                    10 marks for the correct answer and -5 marks for the wrong answer.
                </li>
                <li>
                    Only the first answer is accepted.Totally 10 diagrams. 
                </li>
               
                <li>
                    Judges decision will be final.
                </li>
                
            </ul>
          
        </div>
        <div class="rules-footer">
            <a href="../rounds/rounds.html" class="popup-button">Back</a>
            <a href="../round-4/round4.html" class="popup-button">Start</a>
        </div>
       
    </div>
    
</body>

</html>