<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz | Rounds</title>
    <link rel="stylesheet" href="../../asserts/css/rounds/rounds.css">
</head>

<body>
    <div class="top">
        <a href="../round-1/round1.html">
            <img src="../../asserts/images/rounds/p1.jpg" alt="Round 1">
        </a>
        <a href="../round-2/round2start.html">
            <img src="../../asserts/images/rounds/p2.jpg" alt="Round 2">
        </a>
        
    </div>
    <div class="bottom">
        <a href="../round-3/rules.html">
            <img src="../../asserts/images/rounds/p3.jpg" alt="Round 2">
        </a>
       <a href="../round-5/rules.html"><img src="../../asserts/images/rounds/p4.jpg" alt="Round 3"></a>
    </div>
    <div class="footer">

    </div>
</body>

</html>