<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Round 1 | Product Marketing</title>
    <link rel="stylesheet" href="../../asserts/css/rounds/rules.css">
</head>

<body>

    <div class="rule-container">

        <div class="rule-header">
            <h1><span class="mark">RAPID</span> FIRE</h1>
        </div>
        <div class="rules-list">
            <ul>
                <li>
                    Each team has five questions, the questions will be asked rapidly.
                </li>
                <li>
                    <!-- Each team will be given <span class="mark">5 minutes</span> for presentation. -->
                    If the team don’t know the answer, the question will be skipped and repeated again according to the time left. If you don’t know the answer for a question, you can go to next question.
                </li>
                <li>
                    Each question carries 3 marks. Only the first answer is accepted.
                </li>
                <li>
                    If the team answers all the questions, full marks will be provided.
                </li>
                <li>
                    Otherwise, the team get marks according to the questions that are answered.
                </li>
                <li>
                    No negative marks.
                </li>
                <li>
                    Judges decision will be final.
                </li>
                <li>
                    Time Duration:30 seconds 
                </li>
            </ul>
        </div>

        <div class="rules-footer">
            <a href="../rounds/rounds.html" class="popup-button">Back</a>
            <a href="../round-5/start.html" class="popup-button">Start</a>
        </div>
    </div>

</body>

</html>