<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz | Round 5</title>
    <link rel="stylesheet" href="../../asserts/css/rounds/rounds.css">
</head>

<body>
    <div class="top">
        <a href="../round-5/team-a.html">
            <img src="../../asserts/images/round-5/ta.jpg" alt="Round 1">
        </a>
        <a href="../round-5/team-b.html">
            <img src="../../asserts/images/round-5/tb.jpg" alt="Round 2">
        </a>
        <a href="../round-5/team-c.html">
            <img src="../../asserts/images/round-5/tc.jpg" alt="Round 2">
        </a>
    </div>
    <div class="bottom">
        <a href="../round-5/team-d.html"><img src="../../asserts/images/round-5/td.jpg" alt="Round 3"></a>
        <a href="../round-5/aam.html"><img src="../../asserts/images/round-5/te.jpg" alt="Round 3"></a>
    </div>
    <div class="footer">

    </div>
</body>

</html>